body {
    background: #f8f8f8;
    font-family: 'Lato', sans-serif
}

a:hover {
    text-decoration: none
}

hr {
    background: none
}

.btn {
    color: #fff
}

.btn--alt {
    position: relative
}

.btn--alt.btn-lg {
    padding-bottom: 1rem
}

.btn.btn--alt::after {
    content: '';
    position: absolute;
    top: -5px;
    left: 5px;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0.4)
}

.lead-2 {
    font-size: 1.2rem;
    font-weight: 300
}

.site-header {
    background: #f8f8f8;
    padding: 1rem 0
}

.logo {
    margin: 0;
    font-size: 1.8rem
}

.logo a {
    color: #333
}

.site-nav>ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center
}

.site-nav>ul>li {
    display: inline-block;
    margin: 0
}

.site-nav>ul>li>a {
    display: inline-block;
    padding: 0.5rem 0.8rem;
    color: #333;
    font-weight: 700
}

.site-nav>ul>li>a:hover,
.site-nav>ul>li>a:focus {
    color: #6ac360
}



.banner {
    position: relative;
    padding: 4rem 0 4rem;
    overflow: hidden
}

.banner.banner--alt {
    padding: 4rem 3rem
}

.jumbotron {
    background: rgba(238, 238, 238, 0.8);
    border-radius: 8px
}

.jumbotron--white {
    background: #fff
}

.bg-primary {
    background: url("./img/halftone.png")
}

.bg-secondary {
    background: url("./img/stacked_circles.png")
}

.bg-grey {
    background: #f1f1f1
}

.pack {
    margin-bottom: 1.5rem
}

.pack__contents {
    padding: 1rem;
    background: rgba(238, 238, 238, 0.8);
    border: 1px solid #ddd;
    border-radius: 6px
}

.pack__sale {
    margin-bottom: 0.8rem;
    font-size: 0.8rem
}

.pack__buy {
    margin-top: 1rem
}



.pog {
    border-radius: 50%
}

.pog.pog--large {
    display: none;
    position: absolute;
    width: 180px;
    height: 180px;
    background: #fff;
    border: 7px solid #eee;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3)
}

.pog.pog--alt {
    background: #fff;
    border: 7px solid #eee;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3)
}

.coin--animation {
    animation: spinY 4s infinite;
    animation-timing-function: linear
}

.coin--animationfast {
    animation: spinY 0.8s infinite;
    animation-timing-function: linear
}

.coin__container--center {
    margin: 0 auto
}

/* Media Queries */

@media (min-width: 768px) {
    .site-nav>ul {
        text-align: right
    }

    .banner {
        padding: 4rem 0 7rem
    }
    .banner.banner--alt {
        height: 480px
    }

    .pog.pog--large {
        display: block
    }
}

@media (min-width: 992px) {
    .banner {
        padding: 4rem 0 8rem
    }

    .pog.pog--large {
        width: 240px;
        height: 240px
    }
}