token.report
deploy.network
reactapp/src/contracts/*999*
*/*.compiled
reactapp/aws.json
app/aws*
accounts.json
**.DS_*
zeppelin-solidity
package-lock.json
*.log
*.ens
*/*/*.abi
*/*/*.bytecode
.compiled*/*/*
*/*/*.address
*/*/*.run.xml
*/*/*.log.*
*/*/*.blockNumber
*/*.abi
*/*.bytecode
*/*.bib
*/*.address
*/*.run.xml
*/*.log.*
*/*.blockNumber
*/.clevis
*/*/.clevis
*/node_modules
/node_modules
