
.field {
  position: relative;
  height: 800px;
}

@keyframes flightPath350 {
    from { transform: rotate(180deg) translateX(-350px) translateY(175px) rotate(-180deg); }
    to   { transform: rotate(0deg) translateX(0px) translateY(0px)  rotate(0deg); }
}
@keyframes flightPath300 {
    from { transform: rotate(180deg) translateX(-300px) translateY(150px) rotate(-180deg); }
    to   { transform: rotate(0deg) translateX(0px) translateY(0px)  rotate(0deg); }
}
@keyframes flightPath250 {
    from { transform: rotate(180deg) translateX(-250px) translateY(125px) rotate(-180deg); }
    to   { transform: rotate(0deg) translateX(0px) translateY(0px)  rotate(0deg); }
}
@keyframes flightPath200 {
    from { transform: rotate(180deg) translateX(-200px) translateY(100px) rotate(-180deg); }
    to   { transform: rotate(0deg) translateX(0px) translateY(0px)  rotate(0deg); }
}
@keyframes flightPath150 {
    from { transform: rotate(180deg) translateX(-150px) translateY(75px) rotate(-180deg); }
    to   { transform: rotate(0deg) translateX(0px) translateY(0px)  rotate(0deg); }
}
@keyframes flightPathN150 {
    from { transform: rotate(-180deg) translateX(150px) translateY(75px) rotate(180deg); }
    to   { transform: rotate(0deg) translateX(0px) translateY(0px)  rotate(0deg); }
}
@keyframes flightPathN200 {
    from { transform: rotate(-180deg) translateX(200px) translateY(100px) rotate(180deg); }
    to   { transform: rotate(0deg) translateX(0px) translateY(0px)  rotate(0deg); }
}
@keyframes flightPathN250 {
    from { transform: rotate(-180deg) translateX(250px) translateY(125px) rotate(180deg); }
    to   { transform: rotate(0deg) translateX(0px) translateY(0px)  rotate(0deg); }
}
@keyframes flightPathN300 {
    from { transform: rotate(-180deg) translateX(300px) translateY(150px) rotate(180deg); }
    to   { transform: rotate(0deg) translateX(0px) translateY(0px)  rotate(0deg); }
}
@keyframes flightPathN350 {
    from { transform: rotate(-180deg) translateX(350px) translateY(175px) rotate(180deg); }
    to   { transform: rotate(0deg) translateX(0px) translateY(0px)  rotate(0deg); }
}

.spinner {
  animation-iteration-count: 1;
  animation-timing-function:linear;
  animation-duration:1s;
  animation-delay:0.1s;
}


.coin__container {
  height: 160px;
  width: 160px;
  transition: all 1s ease;
}

.is-stacked .coin__container {
  height: 10px;
}

.coin {
  height: 160px;
  width: 160px;
  position: absolute;
  transform-style: preserve-3d;
  transform-origin: 50%;
}

.is-slam .coin__container {
  height: 160px;
  position: absolute;
  transition: all 0.6s ease;
}

.is-slam .coin {
  animation: spin 0.4s infinite;
  animation-timing-function: linear;
  transform: rotateX(75deg);
}

.is-flip .coin {
  animation: spin 0.6s infinite;
  animation-timing-function: linear;
}

.is-slowroll .coin {
  animation: spin 3s infinite;
  animation-timing-function: linear;
}

.is-creeproll .coin {
  animation: spin 11s infinite;
  animation-timing-function: linear;
}

.coin .coin__front,
.coin .coin__back {
  position: absolute;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background-size: cover;
}

.coin .coin__front {
  transform: translateZ(5px);
}

.coin .coin__back {
  transform: translateZ(-5px) rotateY(180deg);
}

.coin .coin__side {
  transform: translateX(75px);
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.coin .coin__side .coin__c {
  height: 160px;
  width: 10px;
  position: absolute;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.coin .coin__side .coin__c:before,
.coin .coin__side .coin__c:after {
  content: '';
  display: block;
  height: 15.682742452729697px;
  width: 10px;
  position: absolute;
  transform: rotateX(84.375deg);
  background: #999999;
}

.coin .coin__side .coin__c:before {
  transform-origin: top center;
}
.coin .coin__side .coin__c:after {
  bottom: 0;
  transform-origin: center bottom;
}
.coin .coin__side .coin__c:nth-child(16) {
  transform: rotateY(90deg) rotateX(180deg);
}
.coin .coin__side .coin__c:nth-child(15) {
  transform: rotateY(90deg) rotateX(168.75deg);
}
.coin .coin__side .coin__c:nth-child(14) {
  transform: rotateY(90deg) rotateX(157.5deg);
}
.coin .coin__side .coin__c:nth-child(13) {
  transform: rotateY(90deg) rotateX(146.25deg);
}
.coin .coin__side .coin__c:nth-child(12) {
  transform: rotateY(90deg) rotateX(135deg);
}
.coin .coin__side .coin__c:nth-child(11) {
  transform: rotateY(90deg) rotateX(123.75deg);
}
.coin .coin__side .coin__c:nth-child(10) {
  transform: rotateY(90deg) rotateX(112.5deg);
}
.coin .coin__side .coin__c:nth-child(9) {
  transform: rotateY(90deg) rotateX(101.25deg);
}
.coin .coin__side .coin__c:nth-child(8) {
  transform: rotateY(90deg) rotateX(90deg);
}
.coin .coin__side .coin__c:nth-child(7) {
  transform: rotateY(90deg) rotateX(78.75deg);
}
.coin .coin__side .coin__c:nth-child(6) {
  transform: rotateY(90deg) rotateX(67.5deg);
}
.coin .coin__side .coin__c:nth-child(5) {
  transform: rotateY(90deg) rotateX(56.25deg);
}
.coin .coin__side .coin__c:nth-child(4) {
  transform: rotateY(90deg) rotateX(45deg);
}
.coin .coin__side .coin__c:nth-child(3) {
  transform: rotateY(90deg) rotateX(33.75deg);
}
.coin .coin__side .coin__c:nth-child(2) {
  transform: rotateY(90deg) rotateX(22.5deg);
}
.coin .coin__side .coin__c:nth-child(1) {
  transform: rotateY(90deg) rotateX(11.25deg);
}

.coin .coin__front {
  background-color: #CCCCCC;
  background-position: center center;
}

.coin .coin__back {
  background-color: #CCCCCC;
}

@keyframes spin {
  // 0% { transform: rotateX(75deg) }
  // 50% { transform: rotateX(360deg) }
  // 75% { transform: rotateX(360deg) }
  // 25% { transform: rotateX(0deg) }
  // 50% { transform: rotateX(-180deg) }
  // 100% { transform: rotateX(-720deg) }

  from {
    transform: rotateX(75deg);
  }
  to {
    transform: rotateX(435deg);
  }
}


.slammer__container {
  height: 160px;
  width: 160px;
  transition: all 1s ease;
}


.slammer {
  height: 160px;
  width: 160px;
  position: absolute;
  transform-style: preserve-3d;
  transform-origin: 50%;
  /*transform: rotateY(45deg);*/
}

.slammer .slammer__front,
.slammer .slammer__back {
  position: absolute;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background-size: cover;
}

.slammer .slammer__front {
  transform: translateZ(15px);
}

.slammer .slammer__back {
  transform: translateZ(-15px) rotateY(180deg);
}

.slammer .slammer__side {
  transform: translateX(65px);
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.slammer .slammer__side .slammer__c {
  height: 160px;
  width: 30px;
  position: absolute;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.slammer .slammer__side .slammer__c:before,
.slammer .slammer__side .slammer__c:after {
  content: '';
  display: block;
  height: 15.682742452729697px;
  width: 30px;
  position: absolute;
  transform: rotateX(84.375deg);
  background: #B3BEBF;
}

.slammer .slammer__side .slammer__c:before {
  transform-origin: top center;
}
.slammer .slammer__side .slammer__c:after {
  bottom: 0;
  transform-origin: center bottom;
}
.slammer .slammer__side .slammer__c:nth-child(16) {
  transform: rotateY(90deg) rotateX(180deg);
}
.slammer .slammer__side .slammer__c:nth-child(15) {
  transform: rotateY(90deg) rotateX(168.75deg);
}
.slammer .slammer__side .slammer__c:nth-child(14) {
  transform: rotateY(90deg) rotateX(157.5deg);
}
.slammer .slammer__side .slammer__c:nth-child(13) {
  transform: rotateY(90deg) rotateX(146.25deg);
}
.slammer .slammer__side .slammer__c:nth-child(12) {
  transform: rotateY(90deg) rotateX(135deg);
}
.slammer .slammer__side .slammer__c:nth-child(11) {
  transform: rotateY(90deg) rotateX(123.75deg);
}
.slammer .slammer__side .slammer__c:nth-child(10) {
  transform: rotateY(90deg) rotateX(112.5deg);
}
.slammer .slammer__side .slammer__c:nth-child(9) {
  transform: rotateY(90deg) rotateX(101.25deg);
}
.slammer .slammer__side .slammer__c:nth-child(8) {
  transform: rotateY(90deg) rotateX(90deg);
}
.slammer .slammer__side .slammer__c:nth-child(7) {
  transform: rotateY(90deg) rotateX(78.75deg);
}
.slammer .slammer__side .slammer__c:nth-child(6) {
  transform: rotateY(90deg) rotateX(67.5deg);
}
.slammer .slammer__side .slammer__c:nth-child(5) {
  transform: rotateY(90deg) rotateX(56.25deg);
}
.slammer .slammer__side .slammer__c:nth-child(4) {
  transform: rotateY(90deg) rotateX(45deg);
}
.slammer .slammer__side .slammer__c:nth-child(3) {
  transform: rotateY(90deg) rotateX(33.75deg);
}
.slammer .slammer__side .slammer__c:nth-child(2) {
  transform: rotateY(90deg) rotateX(22.5deg);
}
.slammer .slammer__side .slammer__c:nth-child(1) {
  transform: rotateY(90deg) rotateX(11.25deg);
}

.slammer .slammer__front {
  background-color: #999999;
  background-position: center center;
}

.slammer .slammer__back {
  /*background-color: #e5c100;*/
  background-image: -webkit-radial-gradient(  50%   0%,  8% 50%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(  50% 100%, 12% 50%, hsla(0,0%,100%,.6) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(   0%  50%, 50%  7%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient( 100%  50%, 50%  5%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),

    -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   3%, hsla(0,0%,  0%,.1) 3.5%),
    -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%,.1) 7.5%),
    -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.2) 2.2%),

    -webkit-radial-gradient( 50% 50%, 200% 50%, hsla(0,0%,90%,1) 5%, hsla(0,0%,85%,1) 30%, hsla(0,0%,60%,1) 100%);
}

@keyframes spinY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
